.background {
    background: #000;
}

.content {
    background: #fff;
    padding-top: rem(60);
    padding-bottom: rem(60);
    @media screen and (min-width: breakpoint(1)) {
        padding-top: rem(80);
        padding-bottom: rem(80);
    }
    @media screen and (min-width: breakpoint(2)) {
        padding-top: rem(80);
        padding-bottom: rem(80);
    }
}

.content_large {
    @media screen and (min-width: breakpoint(2)) {
        padding-top: rem(100);
        padding-bottom: rem(100);
    }
}

.content_border {
    border-bottom: 0.0625rem solid $lightgray;
}
