// Display Styles:

.hide {
    display: none;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

@for $i from 1 through length($LAYOUT_BREAKPOINTS) {
    @media screen and (min-width: breakpoint($i)) {
        .br#{$i}-hide {
            display: none;
        }
        .br#{$i}-block {
            display: block;
        }
        .br#{$i}-inline {
            display: inline;
        }
        .br#{$i}-inline-block {
            display: inline-block;
        }
    }
}
