// Reset Styles:

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:active, :focus {
    outline: 0;
}

body {
    line-height: 1;
    min-height: 100%;
    overflow-y: scroll;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, input, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, textarea, tfoot, th, thead, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 100%;
    vertical-align: baseline;
    cursor: default;
}

a, button, input[type="submit"] {
    cursor: pointer;
    * {
        cursor: pointer;
    }
}

button::-moz-focus-inner, input::-moz-focus-inner { 
  padding: 0;
  border: 0;
}

figure {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: bottom;
}

:not(.mt) > :first-child {
    margin-top: 0;
}

:not(.mb) > :last-child {
    margin-bottom: 0;
}
